language: julia
sudo: false
os:
  - linux
#  - osx

julia:
 - 1.2
 - nightly
 
allow_failures:
 - julia: nightly

notifications:
  email: false

after_success:
    - julia -e 'using Pkg; cd(Pkg.dir("LightGraphs")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
#    - julia -e 'using Pkg; ps=Pkg.PackageSpec(name="Documenter", version="0.19"); Pkg.add(ps); Pkg.pin(ps)'
    - julia -e 'using Pkg; cd(Pkg.dir("LightGraphs")); Pkg.add("Documenter"); include(joinpath("docs", "make.jl"))'
#    - export JULIA_NUM_THREADS=4; julia -e 'Pkg.add("PkgBenchmark"); using PkgBenchmark; benchmarkpkg("LightGraphs", promptoverwrite=false)'
