language: julia
sudo: false
os:
  - linux
  - osx
julia:
  - release
  - nightly
notifications:
  email: false
# uncomment the following lines to override the default test script
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'Pkg.clone("https://github.com/jpfairbanks/GraphMatrices.jl.git")'
  - julia --check-bounds=yes -e 'Pkg.add("JuMP")'
  - julia --check-bounds=yes -e 'Pkg.add("MatrixDepot")'
  - julia --check-bounds=yes -e 'Pkg.add("Clp")'
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("LightGraphs"); Pkg.test("LightGraphs"; coverage=true)'
  
cache:
  directories:
    - $HOME/.julia/v0.4/JuMP/
    - $HOME/.julia/v0.5/JuMP/
after_success:
    - julia -e 'cd(Pkg.dir("LightGraphs")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder()); Codecov.submit(process_folder())'
